<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zmm.module_setting">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true">

        <activity android:name=".act.TwSettingActivity"/>
        <activity android:name=".act.TwUserEditActivity"/>
        <activity android:name=".act.TwResetPasswordActivity"/>
        <activity android:name=".act.TwLogoActivity"/>
        <activity android:name=".act.TwAboutActivity"/>
        <activity android:name=".act.TwLogOutActivity"/>

    </application>

</manifest>
